<!-- just in case we need stamen tiles -->
<script src="http://maps.stamen.com/js/tile.stamen.js"></script>

<!-- gather javascript config -->
<script type="text/javascript">
  SS = {
    SHOW:      <%= @slideshow.to_json.html_safe %>,
    SLIDES:    <%= @slides.to_json.html_safe %>,
    SHOWURL:   '<%= slideshow_path(@slideshow) %>',
    SLIDESURL: '<%= slideshow_slides_path(@slideshow) %>'
  };
  for (var i=0; i<SS.SLIDES.length; i++) { SS.SLIDES[i].editing = true; }
</script>

<!-- show slideshow -->
<div class="eight columns">

  <!-- optional title/desc -->
  <div id="slideshow-info">
    <div class="actions" id="slideshow-actions">
      <ul>
        <li><a href="#" class="edit has-tip" title="Edit slideshow title and description"></a></li>
      </ul>
    </div>
    <h3 class="ss-title"><%= @slideshow.title %></h3>
    <div class="ss-desc"><%= @slideshow.desc.html_safe %></div>
  </div>

  <!-- the main event -->
  <div id="slideshow" class="cf"></div>

</div>

<!-- author/sharing info -->
<div class="four columns" id="sidebar">

  <!-- navigation -->
  <div id="slidenav">
    <ol class="row">
      <% @slides.each_with_index do |slide, idx| %>
        <li data-index="<%= idx %>" class="<%= 'active' if idx == 0 %>">
          <% if slide.slideimage_id %>
            <%= image_tag slide.slideimage.image.url(:square) %>
          <% else %>
            <%= slide.title ? ('<b>'+strip_tags(slide.title)+'</b>').html_safe : '' %>
            <%= slide.desc  ? truncate(strip_tags(slide.desc), :length => 70, :separator => ' ') : '' %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <div>
      <a href="#" class="add-slide button radius success">Add Slide</a>
    </div>
  </div>

  <!-- edit slideshow -->
  <div id="slideshow-edit" class="panel">
    <form>
      <input type="text" placeholder="Slideshow title" name="title" />
      <textarea type="text" placeholder="Slideshow description" name="desc" /></textarea>
      <div class="row">
        <div id="allowed-html" class="columns twelve">
          Allowed HTML: <code>&lt;a>&lt;b>&lt;i>&lt;blockquote></code>
        </div>
      </div>
      <button class="save medium success button radius">Save show</button>
      <button class="cancel medium secondary button radius">Cancel</button>
    </form>
  </div>

  <!-- edit slide -->
  <div id="slide-edit" class="panel">
    <form>
      <select name="layout">
        <option value="T" data-tpl="textonly">Text-only</option>
        <option value="L" data-tpl="imageleft">Left-aligned image</option>
        <option value="R" data-tpl="imageright">Right-aligned image</option>
        <option value="F" data-tpl="imagefull">Full width image</option>
      </select>
      <input name="title" type="text" placeholder="Slide title" />
      <div class="row" style="margin-bottom: 1em;">
        <div class="columns six">
          <input name="date" type="text" placeholder="Date" />
        </div>
        <div class="columns six">
          <input name="time" type="text" placeholder="Time" />
        </div>
      </div>
      <div class="row collapse" style="margin-bottom: 1em;">
        <div class="eight mobile-three columns">
          <input class="imagename" type="text" placeholder="Upload image" readonly />
          <input type="hidden" name="slideimage_id" />
          <div class="uploading">Working on your upload...</div>
        </div>
        <div class="four mobile-one columns">
          <a class="image postfix button secondary"><input name="image" type="file" />Browse</a>
        </div>
      </div>
      <textarea name="desc" type="text" placeholder="Slide description" /></textarea>
      <div class="row">
        <div id="allowed-html" class="columns twelve">
          Allowed HTML: <code>&lt;a>&lt;b>&lt;i>&lt;blockquote></code>
        </div>
      </div>
      <button class="save medium success button radius">Save slide</button>
      <button class="cancel medium secondary button radius">Cancel</button>
    </form>
  </div>

</div>
