<!-- just in case we need stamen tiles -->
<script src="http://maps.stamen.com/js/tile.stamen.js"></script>

<!-- gather javascript config -->
<script type="text/javascript">
  SLIDESHOWCFG = <%= ActiveSupport::JSON.encode(@slideshow.to_config).html_safe %>;
  SLIDESHOWCFG.slides = <%= ActiveSupport::JSON.encode(@slides.collect { |s| s.to_config }).html_safe %>;
</script>

<!-- show slideshow -->
<div class="eight columns">

  <!-- optional title/desc -->
  <div id="slideshow-info">
    <div class="actions" id="slideshow-actions">
      <ul>
        <li><a href="#" id="edit" class="has-tip" title="Edit slideshow title and description"><%= image_tag "icons/glyphicons_030_pencil.png" %></a></li>
        <li><a href="#" id="delete" class="has-tip" title="Delete this slideshow"><%= image_tag "icons/glyphicons_016_bin.png" %></a></li>
        <li><a href="#" id="new" class="has-tip" title="Add a new slide"><%= image_tag "icons/glyphicons_190_circle_plus.png" %></a></li>
      </ul>
    </div>

    <% if @slideshow.title %><h3 id="slideshow-title"><%= @slideshow.title %></h3><% end %>
    <% if @slideshow.desc %><div id="slideshow-desc"><%= @slideshow.desc.html_safe %></div><% end %>
  </div>

  <!-- the main event -->
  <div id="slideshow" class="cf"></div>

</div>

<!-- author/sharing info -->
<div class="four columns" id="sidebar">

  <ul id="share-embed" class="cf">
    <li id="icon-date">Published on June 30, 2012</li>
    <li id="icon-facebook"><a href="#">Facebook</a></li>
    <li id="icon-twitter"><a href="#">Twitter</a></li>
    <li id="icon-embed"><a href="#">Embed</a></li>
    <li id="icon-editslide"><%= link_to 'Edit Slideshow', edit_slideshow_path(@slideshow) %></li>
  </ul>

  <div id="user-profile" class="cf">
    <a href="#"><%= image_tag "example/mpr.jpg" %></a>
    <h6><a href="#">MPR News</a></h6>
    Saint Paul, Minn.
  </div>

  <hr/>

  <ul id="links">
    <li id="icon-slideshows"><a href="#">10 slideshows</a></li>
    <li id="icon-twitter"><a href="#">@mprnews</a></li>
    <li id="icon-url"><a href="#">mprnews.org</a></li>
  </ul>

</div>
