<div id="banner" class="cf">
  <div class="six columns">
    <h3>Create and embed slideshows</h3>
    Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    
    <div id="banner-signup">
      <a href="#" class="button radius">Get started &raquo;</a> <a href="#">View pricing</a>
    </div>
  </div>
  <div id="screenshot" class="six columns"><%= image_tag "homepage/screenshot.png" %></div>
</div>

<div id="features" class="cf">
  <div class="four columns">
    <%= image_tag "homepage/inline-editing.jpg" %>
    <h5>Inline Editing</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>

  <div class="four columns">
    <%= image_tag "homepage/mapping.jpg" %>
    <h5>Maps</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>

  <div class="four columns">
    <%= image_tag "homepage/inline-editing.jpg" %>
    <h5>Third Feature</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>
</div>


<% if user_signed_in? %>
  <br/><br/>
  <%= link_to 'New Slideshow', new_slideshow_path, :class => 'nice radius button blue' %>
<% end %>


<br/><br/>
<h2><%= user_signed_in? ? 'Your Recent Slideshows' : 'Recent Slideshows' %></h2>
<table>
  <tr>
    <th>Ident</th>
    <th>Title</th>
    <th>Created</th>
    <th>Owner</th>
  </tr>
<% @slideshows.each do |ss| %>
  <tr>
    <td><%= link_to ss.ident, ss %></td>
    <td><%= ss.title || '(none)' %></td>
    <td><%= ss.blame_cre_at %></td>
    <td><%= ss.blame_cre_user.email %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Slideshow', new_slideshow_path, :class => 'nice radius button blue' %>
