<div id="banner" class="cf">
  <div class="six columns">
    <h3>Create and embed slideshows</h3>
    Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus.
    
    <div id="banner-signup">
      <%= link_to 'Get started', new_user_registration_path, :class => 'button radius' %> <a href="#">View pricing</a>
    </div>
  </div>
  <div id="screenshot" class="six columns"><%= image_tag "homepage/screenshot.png" %></div>
</div>

<div id="features" class="cf">
  <div class="four columns">
    <div class="feature-img"><%= image_tag "homepage/inline-editing.jpg" %></div>
    <h5>Easy Editing &amp; Layout</h5>
    With our live-editing feature, you can see changes as you make them.   </div>

  <div class="four columns">
    <div class="feature-img"><%= image_tag "homepage/mapping-2.jpg" %></div>
    <h5>Maps</h5>
    Enter an address or Lat/Long for your slide and we'll include it on a map.
  </div>

  <div class="four columns">
    <div class="feature-img"><%= image_tag "homepage/drew.jpg" %></div>
    <h5>Third Feature</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>
</div>

