<div id="banner" class="cf">
  <div class="six columns">
    <h3>Create and embed slideshows</h3>
    Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

    <div id="banner-signup">
      <%= link_to 'Sign up »', new_user_registration_path, :class => 'button radius' %>
      <%= link_to 'View Pricing', '/static/pricing' %>
    </div>
  </div>
  <div id="screenshot" class="six columns"><%= image_tag "homepage/screenshot.png" %></div>
</div>

<div id="features" class="cf">
  <div class="four columns">
    <%= image_tag "homepage/inline-editing.jpg" %>
    <h5>Inline Editing</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>

  <div class="four columns">
    <%= image_tag "homepage/mapping.jpg" %>
    <h5>Maps</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>

  <div class="four columns">
    <%= image_tag "homepage/inline-editing.jpg" %>
    <h5>Third Feature</h5>
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>
</div>
