<header id="header" class="cf">
  <div class="row">

    <div class="five columns">
      <h3><%= link_to "Glistró", root_path %></h3>
      <div id="tagline">Create and embed slideshows</div>
    </div>

    <% if user_signed_in? %>
      <div class="four columns nav">
        <a href="/slideshows/">My Slideshows</a>
        <%= link_to 'New Slideshow', new_slideshow_path, :id => 'new-slideshow', :class => 'new' %>
      </div>
      
      <div class="login three columns right-align">
        <span><a href="#"><%= current_user.email %></a></span>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'nice radius button green small' %>
      </div>
      
    <% else %>
      <div class="login four columns right-align">
        <%= link_to 'Login', new_user_session_path, :class => 'nice white small' %> or
        <%= link_to 'Sign up', new_user_registration_path, :class => 'nice radius button green signup' %>
      </div>
    <% end %>

  </div>
</header>
